{% extends 'AnimeDbAppBundle::popup.html.twig' %}

{% set popup_id = 'f-image-popup' %}

{% set content %}
<form action="{{ path('form_image_upload') }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form._token) }}
<div class="f-row">
    {{ form_row(form.remote, {'attr': {'placeholder': 'http://'}}) }}
</div>
<div class="f-row">
    {{ form_row(form.local, {'attr': {'accept': 'image/jpeg,image/jpg,image/gif,image/png,image/bmp'}}) }}
</div>
<div class="f-row">
    <label></label>
    <button type="submit">{% if change is defined %}{{ 'Change image'|trans }}{% else %}{{ 'Add image'|trans }}{% endif %}</button>
</div>
</form>
{% endset %}
