{% extends 'AnimeDbAppBundle::popup.html.twig' %}

{% set popup_id = 'f-path-popup' %}

{% set content %}
<form action="{{ path('form_local_path_folders') }}" method="get" {{ form_enctype(form) }}>
    {{ form_widget(form._token) }}
    <div class="f-row">
        <table class="t-path">
            <tr>
                {% if form.letter is defined %}
                    <td class="b-letter">
                        {{ form_widget(form.letter) }}
                    </td>
                {% endif %}
                <td class="b-input">
                    {{ form_widget(form.path) }}
                </td>
                <td class="b-button">
                    <button
                        type="submit"
                        class="change-path"
                        title="{{ 'Change path'|trans }}"
                    >{{ 'Change path'|trans }}</button>
                </td>
            </tr>
        </table>
    </div>
<nav class="folders" data-prototype="{{ block('folder')|e }}"></nav>
</form>
{% endset %}

{% block folder %}
<a href="__link__" class="folder">__name__</a>
{% endblock %}
