{% spaceless %}
<section class="b-notice">
    <div class="b-message-wrapper">
        <span class="b-message">
            {{ notice.message | raw }}
            {% if link_all %}
                (<a href="{{ link_all }}" title="{{ 'View all notices'|trans }}">{{ 'All notices'|trans }}</a>)
            {% endif %}
        </span>
    </div>
    <button
        type="button"
        class="bt-notice-scroll bt-notice-scroll-left"
        title="{{ 'Scroll left'|trans }}"
    >{{ 'Scroll left'|trans }}</button>
    <button
        type="button"
        class="bt-notice-scroll bt-notice-scroll-right"
        title="{{ 'Scroll right'|trans }}"
    >{{ 'Scroll right'|trans }}</button>
    <div class="b-controls">
        <button
            type="button"
            class="bt-see-later"
            title="{{ 'See notices later'|trans }}"
        >{{ 'See notices later'|trans }}</button>
        <button
            type="button"
            class="bt-close"
            title="{{ 'Close'|trans }}"
        >{{ 'Close'|trans }}</button>
    </div>
</section>
{% endspaceless %}
